target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.metadata
Itui/src/main/resources/properties/database.properties
Itui/src/main/resources/properties/email.properties
