/*信息页模糊样式*/

/*.sch_info h3 {
text-shadow:0 0 6px black;
 -webkit-transform:scale(0.9);
 -moz-transform:scale(0.9);
 -ms-transform:scale(0.9);
 -o-transform:scale(0.9); 
 opacity:0.8; 
 color:rgba(0,0,0,0);

}*/
.pingji{
	color: transparent;
	opacity: 0.5;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #fff, 0 0 70px #fff;
}
.bar0 p{
	color: transparent;
	opacity: 0.5;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 15px #fff, 0 0 70px #fff;
} 
.pb-text{
	
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 15px #fff, 0 0 70px #fff;
}
.pb-text span{
color: transparent;
opacity: 0.5;
 text-shadow: 0 0 5px #5DB9E3, 0 0 10px #5DB9E3, 0 0 5px #5DB9E3, 0 0 15px #5DB9E3, 0 0 5px #5DB9E3;

}
.grade span
{

/*text-shadow:0 0 6px black;
 -webkit-transform:scale(0.9);
 -moz-transform:scale(0.9);
 -ms-transform:scale(0.9);
 -o-transform:scale(0.9); 
 opacity:0.8; 
 color:rgba(255,255,255,0);*/
 color: transparent;
	opacity: 0.5;
 text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 15px #fff, 0 0 5px #fff;
}
.grade3{
	text-shadow:0 0 6px black;
 -webkit-transform:scale(0.9);
 -moz-transform:scale(0.9);
 -ms-transform:scale(0.9);
 -o-transform:scale(0.9); 
 opacity:0.8; 
 color:rgba(255,255,255,0);
}
.rank_tp1 p{
	color: transparent;
	opacity: 0.5;
	text-shadow: 0 0 15px #FFAF67, 0 0 15px #FFAF67, 0 0 15px #FFAF67, 0 0 40px #FFAF67, 0 0 70px #FFAF67;
}
.rank_tp2 p{
	color: transparent;
	opacity: 0.5;
	text-shadow: 0 0 15px #5DB9E3, 0 0 15px #5DB9E3, 0 0 15px #5DB9E3, 0 0 40px #5DB9E3, 0 0 70px #5DB9E3;
}
.rank_tp3 p{
	color: transparent;
	opacity: 0.5;
	text-shadow: 0 0 15px #B2D155, 0 0 15px #B2D155, 0 0 15px #B2D155, 0 0 40px #B2D155, 0 0 70px #B2D155;
}

.average
{
color: transparent;
opacity: 0.7;
text-shadow: 0 0 5px #54B4E4, 0 0 5px #54B4E4, 0 0 5px #54B4E4, 0 0 5px #54B4E4, 0 0 70px #54B4E4;
}
.average_h
{
color: transparent;
	opacity: 0.7;
	text-shadow: 0 0 5px #FEB671, 0 0 5px #FEB671, 0 0 5px #FEB671, 0 0 5px #FEB671, 0 0 70px #FEB671;
}
.score0,.difficult05{
	color: transparent;
	opacity: 0.5;
	text-shadow: 0 0 15px #FAB071, 0 0 15px #FAB071, 0 0 15px #FAB071, 0 0 40px #FAB071, 0 0 70px #FAB071;
}
.bar0_5 .dengji,.percent_p{
color: transparent;
opacity: 0.7;
text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 70px #fff;
}
.Interpretation p,.sim_p,.scale0 p,.major li p{
color: transparent;
opacity: 0.7;
text-shadow: 0 0 5px #999, 0 0 5px #999, 0 0 5px #999, 0 0 5px #999, 0 0 70px #999;	
}
.course a{
color: transparent;
opacity: 0.7;
text-shadow: 0 0 5px #666, 0 0 5px #666, 0 0 5px #666, 0 0 5px #666, 0 0 70px #666;	


}
.value_0{
color: transparent;
opacity: 0.3;
text-shadow: 0 0 5px #eee, 0 0 5px #eee, 0 0 5px #eee, 0 0 5px #eee, 0 0 70px #eee;
}
.pb-value_5
{
opacity: 0.5;
box-shadow: 0 0 5px #FEBE83, 0 0 10px #FEBE83, 0 0 30px #FEBE83, 0 0 15px #FEBE83, 0 0 70px #FEBE83;
}
.result0 li p,.bar0_5 p,.biao_6 .li0,.biao_6 li
{
color: transparent;
opacity: 0.5;
text-shadow: 0 0 5px #999, 0 0 5px #999, 0 0 5px #999, 0 0 5px #999, 0 0 70px #999;
}
.biao_6 .oran ,.sim span 
{
color: transparent;
opacity: 0.5;
text-shadow: 0 0 5px #F5A15C, 0 0 5px #F5A15C, 0 0 5px #F5A15C, 0 0 5px #F5A15C, 0 0 70px #F5A15C;
}