body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,  textarea, button, p, blockquote, th, td {margin:0;padding:0;font-family:"Microsoft Yahei", verdana, helvetica, clean, sans-serif;outline: 0;word-break:break-all;word-wrap:break-word;font-size:12px; color: #444;}
h1,h2,h3,h4,h5,h6,button,select,textarea{font-size:100%;font-weight:normal}
/*input{vertical-align:middle}*/
table{border-collapse:collapse;border-spacing:0;}
img{border:none;display:block}
a{text-decoration:none;color:#000;}
/*a:hover{text-decoration:underline;}*/
fieldset{border:0;}
html{overflow:hidden;}
body{
	background-image:url(about:blank);background: url(../images/20.jpg);overflow:hidden;
	}


ul,ol,li{list-style:none} 
:focus{outline: 0;}
/* Clear float */
.clear{border:0;clear:both;font-size:0;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix {zoom:1; clear:both;} 
.clearfix:after {content:''; display:block; clear:both; visibility:hidden; height:0;}

.bj{
	
	width: 1000px;
	height: 500px;
}
.top0{
	width: 100%;
	height: 88px;
	margin: 0 auto;
	_background-color: #ed991d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ed9a1d), to(#df7312)); /** Chrome Safari **/
	 background: -moz-linear-gradient(top, #ed9a1d, #df7312); /** FireFox **/
	  background: -o-linear-gradient(top, #ed9a1d, #df7312);/** Opear **/ 
	  background: -ms-linear-gradient(#ed9a1d 0%,#df7312 100%);/** IE9 IE10 **/ 
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed9a1d',endColorstr='#df7312',grandientType=1); /** IE7 **/ 
	   -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed9a1d',endColorstr='#df7312',grandientType=1); /** IE8 **/
	   box-shadow: 2px 2px 4px #9e9c9c;
}
.containa{
	width: 1024px;
	
	margin:0 auto;
	margin-top: -88px;
}
/*顶部*/
#nav0{
	width: 1024px;
	height: 88px;
	margin: 0 auto;
	_background-color: #ed991d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ed9a1d), to(#df7312)); /** Chrome Safari **/
	 background: -moz-linear-gradient(top, #ed9a1d, #df7312); /** FireFox **/
	  background: -o-linear-gradient(top, #ed9a1d, #df7312);/** Opear **/ 
	  background: -ms-linear-gradient(#ed9a1d 0%,#df7312 100%);/** IE9 IE10 **/ 
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed9a1d',endColorstr='#df7312',grandientType=1); /** IE7 **/ 
	   -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed9a1d',endColorstr='#df7312',grandientType=1); /** IE8 **/
	   position: relative;
}
.logo0{
	width: 300px;
	height: 80px;
	float: left;
	background: url(../images/18.png) no-repeat;
}
#scbar_form{
	float: left;
	margin-left: 90px;
	margin-top: 25px;
}
#scbar_txt{
	text-indent: 2em;
}
.input01{
	overflow: hidden;
	width: 508px;
	+width: 512px;

	
}
.dropdown-menu{
	display: none;
	width: 71px;
	height: 30px;
	background-color: #fff;
	margin-left: 1px;
}
.zhuanye a{
	display: block;
	width: 71px;
	height: 20px;
	line-height: 30px;
	text-align: center;
	color: #E67917;
	margin-left:-6px;
}
.dropdown{
	float: left;
	+margin-right: -4px;

}
.search_input{
	width: 360px;
	height: 30px;
	border: 1px solid #e67917;
	border-right:none;
	color:#666;
	font-size: 14px;
	line-height: 32px;
	+padding-left: 6px;


}
.glyphicon-search{
	width: 19px;
	height: 19px;
	background: url(../images/19.png) no-repeat;

}
.input_0{
	float: left;
	+margin-top: -2px;
	+margin-right: -2px;
	
}
.btn-sub{
	width: 28px;
	height: 34px;
	float: left;
	background-color: #fff;
	border: 1px solid #e67917;
	border-left:none;
}
.d_down{
	width: 73px;
	height: 34px;
	background-color:#fff;
	border: 1px solid #e67917;
	color:  #e67917;
}


/*第一区块*/

#nav01{
	width: 1024px;
	height:420px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #333;
	overflow: hidden;
	color: #555;
}
/*20150206页面头样式结束*/
/*左边侧边栏*/
#sidebar{
	width: 200px;
	height: 50px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #E0DDDD;
	font-size: 20px;
	line-height: 50px;
	color: #666;
	text-align: center;
}
#sch_list
{
width: 790px;
height:391px;
margin-left: 10px;
float: left;
margin-top: 10px;
margin-bottom: 10px;

}
.list_header{
	width: 780px;
	height: 56px;
	font-size: 26px;
	font-weight: 700;
	color: #666;
	padding-left: 10px;
	line-height: 56px;
	border-bottom:1px solid #cbcbcb;
	margin-bottom:15px;
}
.sch_part{
	width: 790px;
	margin-top: 6px;
}
.item0{
	width: 750px;
	height: 40px;
	
	line-height: 40px;
	padding-left: 10px;
	background-color: #EFEFEF;

}
.item0 p{
	float: left;
	padding-left: 10px;
	font-size: 20px;

}
.total{
	float: left;
	line-height: 40px;
	font-size: 14px;
	margin-left: 16px;
}
.btn_and{
	width: 14px;
	height: 14px;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	border-radius: 4px;
	float: left;
	line-height: 12px;
	text-align: center;
	margin-top: 12px;
	background-color: #fff;
	cursor: pointer;
	display: block;
}
.btn_minus{
	display: none;
}
.ul0{
	width: 790px;
	overflow: hidden;
}
.ul_height{
	height: 0px;
}
.li_list{
	width: 370px;
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
	float: left;
	margin-left: 8px;
	margin-top: 4px;
}
.li_list p{
	float: left;
}
.list_empty{
	width: 790px;
	height: 400px;
	font-size: 30px;
	color: #888;
	line-height: 80px;
	text-align: center;
	display: none;

}
.sch_delete{
	width: 14px;
	height: 14px;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	border-radius: 4px;
	float: right;
	line-height: 12px;
	text-align: center;
	margin-top: 12px;
	background-color: #fff;
	cursor: pointer;
	display: block;
	margin-right: 6px;
}
.major_delete{
	width: 14px;
	height: 14px;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	border-radius: 4px;
	float: right;
	line-height: 12px;
	text-align: center;
	margin-top: 4px;
	background-color: #fff;
	cursor: pointer;
	display: block;
	margin-right: 6px;
}

/*2015年0203编辑用户登录模态框*/
#modal_load{
	width:100%;
	height: 100%;
	   position: absolute;
	   left: 0px;
	   top: 0px;
	   z-index: 70;
	   display: none;

}

.gai_load{
	width:100%;
	height: 100%;
	background-color: #000;
	 filter:alpha(opacity=70);   
	   -moz-opacity:0.7;   
	   -khtml-opacity: 0.7;   
	   opacity: 0.7; 
	   position: absolute;
	   left: 0px;
	   top: 0px;

}
.tab{
	width:500px;
	height: 500px;
	background-color: #fff;
	border-radius: 6px;
}
.header{
	widows: 500px;
	height: 40px;
	border-bottom: 1px solid #cbcbcb;

}
.header p{
	float: left;
	font-size: 18px;
	line-height: 40px;
	width: 60px;
	text-align: center;
	margin-left: 10px;

}
.loaditem{
	color: #428BCA;
	border-bottom: 1px solid #428BCA;
	cursor: pointer;
	
}
.regsitem{
	color: #FF7F27;
	cursor: pointer;
}
.tab_page{
	width:500px;
	height: 290px;
	position: relative;
}
.loadpage{
	width: 500px;
	height: 280px;
	background-color: #F8F4A0;
	position: absolute;
	left: 0px;
	top: 0px;
	/*display: none;*/
}
.regspage{
	width: 500px;
	height: 280px;
	background-color: #E0F896;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
}
.otherload{
	widows: 498px;
	height: 100px;
}
.other-account{
	width:100%;
	height: 24px;
	font-size: 12px;
	color:#999;
	line-height: 24px;
	text-align: center;
	margin-top: 10px;
}
.ituilogo{
	width: 100%;
	height: 60px;
	margin-top: 10px;
	border-bottom: 1px solid #cbcbcb;
}
.ituilogo a{
	display: block;
	height: 60px;
	width: 130px;
	background: url(../images/17.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.others{
	width:100%;
	height: 40px;
	margin-top: 10px;
}
.others-acc{
	width:50%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
.others-acc li{
	float: left;
	margin-left: 20px;
	_margin-left: 10px;
}
.close{
	width:24px;
	height: 24px;
	font-size: 24px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

#loadform{
	width: 490px;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
}
.box1{
	width: 60%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.box2{
	width: 60%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.mailp{
	line-height: 40px;
	line-height: 30px;
	float: left;
	font-size: 14px;
}
.pasdp{
	line-height: 40px;
	line-height: 30px;
	float: left;
	font-size: 14px;
}
.mail_inp{
	width:80%;
	float: left;
	line-height: 24px;
	color: #666;
}
.pasd_inp{
	width:80%;
	float: left;
	line-height: 24px;
	color: #666;
}
.pasdp{
	float: left;
}
.errmsg{
	float: left;
	widows: 80%;
	height: 20px;
	margin-left: 40px;
	line-height: 20px;
	margin-top: 10px;
}
.forget{
	float: left;
	widows: 80%;
	height: 20px;
	margin-left: 40px;
	line-height: 20px;
	margin-top: 10px;
}

/*注册框*/
#regsrorm{
	width: 490px;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
}
.box0{
	width: 70%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.box_x{
	width: 70%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	
}
.regs_p{
	line-height: 40px;
	line-height: 30px;
	font-size: 14px;
	float: left;
}
.regs_mail{
	width:70%;
	float: left;
	line-height: 24px;
	color: #666;
	margin-left: 24px;
}
.same_pasd{
	width:70%;
	float: left;
	line-height: 24px;
	color: #666;
}
.regs_pasd
{
width:70%;
float: left;
line-height: 24px;
color: #666;
}



.errregs{
	float: left;
	width: 70%;
	height: 20px;
	margin-left: 70px;
	line-height: 20px;
	margin-top: 10px;
}
.same{
	float: left;
	widows: 80%;
	height: 20px;
	margin-left: 70px;
	line-height: 20px;
	margin-top: 10px;
}
.pasd_p{
	float: left;
	widows: 80%;
	height: 20px;
	margin-left: 70px;
	line-height: 20px;
	margin-top: 10px;
}
.sure_p{
	line-height: 40px;
	line-height: 30px;
	float: left;
	font-size: 14px;
}
.set_p{
	line-height: 40px;
	line-height: 30px;
	float: left;
	font-size: 14px;
}
.button_regs{
	width:100px;
	height: 40px;
	background-color: #FF7F27;
	font-size: 20px;
	color: #fff;
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	float: left;
	margin-left: 40px;

}
.reset_regs{
	width:100px;
	height: 40px;
	background-color: #428BCA;
	font-size: 20px;
	color: #fff;
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	float: left;
	margin-left: 40px;;
}
.button_load{
	width:100px;
	height: 40px;
	background-color: #428BCA;
	font-size: 20px;
	color: #fff;
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	float: left;
	margin-left: 46px;
}
.reset_load
{
	width:100px;
	height: 40px;
	background-color: #FF7F27;
	font-size: 20px;
	color: #fff;
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	float: left;
	margin-left: 46px;

}

/*用户中心头像显示*/
/*已经登录*/
/*用户状态*/
.user {
width: 80px;
height: 60px;
float: left;
margin-top: 20px;
margin-left: 36px;
position: relative;
display: none;
}
.user a {
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
margin-left:auto;
margin-right:auto;
}
.drop_menu {
width: 120px;
position: absolute;
left: -46px;
top: 60px;
display: none;
border-radius: 6px;
z-index:50;
}
.user img{
	width: 40px;
	height: 40px;
}
.load_p{
	color: #fff;
	height: 40px;
	font-size: 14px;
	position: absolute;
	left: 980px;
	top: 50px;
}

/*尚未登录或退出*/
.user2{
	width:40px;
	height: 40px;
	float: left;
	margin-top: 20px;
	margin-left: 66px;
	position: relative;
	display: none;
}
.user2 a
{
	display: block;
	width:40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	

}

.arrow_up
{
	position:absolute;
	top:-20px;
	right:25px; /* 圆角的位置需要细心调试哦 */
	width:0;
	height:0;
	font-size:0;
	border:solid 10px;
	/*border-color:#E27A14 #E27A14 #E27A14 #ffca74;*/
	border-color:#E27A14 #E27A14 #E27A14 #f6f6f6;
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}
.collect{
	width: 120px;
	height: 36px;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #5DB9E3;
	/*background-color: #ffca74;*/
	background-color: #f6f6f6;
	cursor: pointer;
	border-radius: 6px;
}
.coll_pic0{
	width:24px;
	height: 24px;
	float: left;
	background: url(../images/statr3.png) no-repeat;
	margin-left: 4px;
	margin-top: 4px;
}
.colllist{
	color: #555;
	font-size: 16px;
	line-height: 36px;
	padding-left: 10px;
	float: left;
}
.coll_pic1{
	width:24px;
	height: 24px;
	float: left;
	background: url(../images/off3.png) no-repeat;
	margin-left: 4px;
	margin-top: 4px;
}
.collout{
	color: #555;
	font-size: 16px;
	line-height: 36px;
	padding-left: 10px;
	float: left;
}
























/*页面脚*/
.foot{
	width: 100%;
	height: 68px;
	_background-color: #fff;
	margin:0 auto;
	margin-bottom:0px;
	
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e8e8e8)); /** Chrome Safari **/
	 background: -moz-linear-gradient(top, #ffffff, #e8e8e8); /** FireFox **/
	  background: -o-linear-gradient(top, #ffffff, #e8e8e8);/** Opear **/ 
	  background: -ms-linear-gradient(#ffffff 0%,#e8e8e8 100%);/** IE9 IE10 **/ 
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e8e8e8',grandientType=1); /** IE7 **/ 
	   -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e8e8e8',grandientType=1); /** IE8 **/
	   box-shadow: 2px 2px 4px #9e9c9c;

	   margin-top: 30px;

}
.left{
	width: 600px;
	height: 68px;
	float: left;
}
.left li{
	width: 98px;
	height: 64px;
	border-right: 1px solid #cbcbcb;
	float: left;
}
.left li a{
	display: block;
	text-align: center;
	line-height: 64px;
	font-size: 14px;
	color: #666;
}
.li00{
border-top: 4px solid #31afe9;
}
.li01{
border-top: 4px solid #a2cd20;
}
.li02{
border-top: 4px solid #fc983e;
}
.li03{
border-top: 4px solid #b165d4;
}
.li04{
border-top: 4px solid #5d93ed;
}
.li05{
border-top: 4px solid #f4b802;
}

.statement {
	width: 320px;
	height: 68px;
    float:right;
    color: #999;
    font-size: 14px;
    line-height: 74px;
    margin-right: 15px;
}
.right{
	width: 184px;
	height: 68px;
	float: right;
}
.right_li{
	float: left;
	width:38px;
	height: 38px;
	margin-left: 6px;
	margin-top: 16px;
}

.ite04_1{
	margin-left: 20px;
}
.cengci{
	width: 66px;
}
.leixing{
	width: 66px;
}
.ite044{
	margin-left: 5px;
	margin-right: 5px;
	+margin-left: 3px;
	+margin-right: 3px;
}
.ite044 a{
	margin-left: 2px;
	margin-right: 2px;
	+margin-left: 1px;
	+margin-right: 1px;
	line-height: 20px;
}
.area01{
	margin-left: 20px;
}

.cond span .xk_0{
	
}
.tiaojian{
	font-size: 16px;
	color: #E67917;
	float: left;
	height: 42px;
	
	margin-right: 20px;
}


/*二维码*/
.erwei{
	width: 40px;
	height: 120px;
	position: fixed;
	right: 70px;
	bottom: 100px;
	
}
.ew_0{
	width: 40px;
	height: 40px;
}
.ew_01{
	
	background: url(../images/11.jpg) no-repeat;
	
}
.ew_02{
	
	background: url(../images/12.jpg) no-repeat;
}
.back_top{
	background-color: #7e7e7e;
}
.back_top p{
	text-align: center;
	font-size: 24px;
	content: #fff;
	color: #fff;
}
.ew_ma{
	width: 192px;
	height: 211px;
	background: url(../images/icon01.png) -109px -1161px no-repeat;
	position: absolute;
	left: -200px;
	top: -130px;
}


/*分页*/
.pages {text-align:right;width:90%;margin:20px auto;padding-top:0px;height:26px;overflow:hidden;float: right;margin-right: 30px;}
.pages a {text-align:center;padding:10px;border:1px solid #CCC;margin:0px 5px;text-decoration:none;color:#333;}
.pages a:hover {border:1px solid #FC0;color:#F60;}
.pages .this {border:1px solid #FC0;color:#F60;}


.erwei{
	/*display: none;*/
}
.foot{
	position: relative;
}
#cnzz_stat_icon_3967155 {
    position: absolute;
    left: 50%;
    top: 25px;
}
#cnzz_stat_icon_3967155 a {
color: #428bca;
}
/*同意条款*/
.agree_file
{
width: 70%;
height:20px;
margin-left: auto;
margin-right:auto;
}
.agree_input{
	margin-top:2px;
	float: left;
}
.agree_p{
	float: left;
	margin-left:20px;
}
.agree_p a{
	line-height: 20px;
	color:#428BCA;
}
/*20150306编辑*/
.schname{
	cursor:pointer;
}
.schname:hover{
	color:#0EDED7;
}
.li_list p{
	cursor:pointer;
}
.li_list p:hover{
	color:#0EDED7;
}